#jGrowl .jGrowl-notification {
    background-position: 4px center;
    background-repeat: no-repeat;
    padding-left: 34px;
    padding-right: 14px;
}
#jGrowl .jGrowl-notification.status { color: #000000; background-color: #62db51; border: 1px solid #306b28;}
#jGrowl .jGrowl-notification.warning { color: #000000; background-color: #ffb11a; border: 1px solid #8f630f;}
#jGrowl .jGrowl-notification.error { color: #000000; background-color: #ff664e; border: 1px solid #7a3125;}
#jGrowl .jGrowl-notification a { color: #ffffff; border-bottom: 1px dotted #ffffff; }
#jGrowl .jGrowl-notification .jGrowl-message { word-wrap: break-word; padding-right: 34px; }
#jGrowl .jGrowl-notification .jGrowl-close { font-size: 1.1em; }
#jGrowl .jGrowl-closer { padding-right: 24px; padding-left: 24px; background-image: none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0 none;
    background-image: none;
}
.jGrowl.center {
    top: 0;
    left: 50%;
    width: auto;
    margin: 0 0 0 -130px;
}
